/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');
@font-face {
    font-family: CircularStd;
    src: url("./fonts/CircularStd-Black.woff") format("woff"), url("./fonts/CircularStd-Black.ttf")  format("truetype");
}
body {
	background-color: #f3f3f3;
}
/* General */
* {
	margin: 0;
	padding: 0;
	border: none; 
	font-family: 'Sora', Arial, sans-serif;
}

a {
	color: #03807d;
}

.body-container {
	min-height: 100vh;
	
}

a:visited { text-decoration: none; color:#03807d; }

/* Fade in Page */
.homePageContainer, .workContainer, .landingPageContainer{
	animation: fadein ease 1.3s;
	-moz-animation: fadein ease 1.3s; /* Firefox */
    -webkit-animation: fadein ease 1.3s; /* Safari and Chrome */
    -o-animation: fadein ease 1.3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}



/* Header */
.header{
	height: 130px;
	width: 100%;
}

.header ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header ul li{
	list-style: none;
	text-decoration: none;
	height: 130px;
	padding-right: 50px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.header ul li.name{
	margin-right: auto;
	padding-left: 30px;
}

.header ul li a{
	text-decoration: none;
	font-size: 22px;
	font-weight: 400;
	color: #03807d;
	padding: 10px;
	transition: all 0.3s ease-in-out;
}

.header ul li a:hover{
	opacity: 0.5;
	
}

.header ul li.name div a{
	color: #03807d;
	font-size: 26px;
	font-weight: 500;
	background-color: transparent;
	transition: background-color 0.4s ease;
}


/* Header Smaller Screens */

/* Home */

.homePageContainer{
	margin:30px 60px 50px 60px;
}
.homeContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homeImage{
	display:none;
}

.homeText{
	font-size:40px;
	font-weight: 400;
	/*color:#FDC1BF;*/
	color: #03807d;
	/*color: #FFE2CC;*/
}

.black{
	color: black;
}

.header{
	animation: fadein ease 0.8s;
	-moz-animation: fadein ease 0.8s; /* Firefox */
    -webkit-animation: fadein ease 0.8s; /* Safari and Chrome */
    -o-animation: fadein ease 0.8s; /* Opera */
}

/* About */
@media only screen and (max-width : 1315px) {
	.item ul li{
		font-size: 15px !important;
	}
}
@media only screen and (max-width : 1055px) {
	.aboutBox{
		display: flex;
		flex-direction: column;
/*		background-color: red;*/
	}
	.favoriteItems{
		flex-direction: column;
	}
	.item ul{
		display: inline !important;
	}

	.item{
		padding-bottom: 50px;
		/*width: 270px;*/
	}
	.item p{
		font-size: 20px !important;
	}
	.item ul li{
		font-size: 18px !important;
		display: inline !important;
	}
}

@media only screen and (max-width : 800px) {
	.homePageContainer{
		margin: 5px 0px 5px 0px !important;
	}

	.workContainer, .homeContainer{
		margin: 5px 20px 5px 20px !important
	}

	.aboutContainer{
		margin: 10px 0px 10px 0px !important;
	}
	.currentFavorites{
		margin-left: 10px !important;
	}
	.homeText{
		font-size: 25px !important;
		text-align: center;
	}

	.aboutBox{
		display: flex;
		flex-direction: column;
		/*background-color: pink;*/
	}
	.aboutwriteup{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.overview{
		align-self: flex-start;
		padding-left: 0 !important;
	}
	.aboutpic{
		margin: 0 !important;
	}
	.description{
		padding: 20px !important;
		width: 100% !important;
	}
	.songInfo .songName {
		font-size: 16px !important;
	}

	.songInfo .artist {
		font-size: 15px !important;
	}
}

@media (max-width: 1024px){
	.header ul li.name div a {
		font-size: 30px;
	}

	.header ul li.name{
		margin-right: 0;
		padding-left: 0;
		padding-top: 10px;
	}

	.header ul li.name div{
		position : relative;
		left: 0px;
	    text-align : center;
	    margin : 0 auto;
	    width: 70% !important;
	}
	.header ul li{
		padding-top: 10px !important;
		padding-right: 0 !important;
		flex-direction: row;
		height: 50px !important;
	}

	.header ul{
		flex-direction: column;
	}

	.header{
		height: 100%;
	}

	.landingText p{
		width: 90% !important;
		font-size: 28px !important;
	}
	.workInfo{
		min-width: 40px !important;
	}
	.workInfo h2{
		font-size: 28px !important;
	}
	.workInfo h3, .info h1, .projectInfo .theFeatures h2, .role h1{
		font-size: 22px !important;
	}

	.workDescription p{
		font-size: 18px !important;
	}

	.workItem{
		flex-direction: column;
		justify-content: flex-start !important;
		align-items: flex-start !important;
	}

	.projectInfo{
		flex-direction: column;
	}

	.projectDescription{
		width: 100% !important;
	}

	.projectInfo .info p {
		font-size: 16px !important;
	}
	
	.projectInfo .theFeatures li {
		font-size: 15px;
	}


	.role{
		padding-top: 20px !important;
		width: 100% !important;
	}

	.projectDescription .info p{
		width: 100% !important;
	}

}


.aboutContainer{
	display: block;
	margin: 0px 0px 20px 0px;
	/* background: #ffe2cc73; */
	border-bottom: 4px solid blue;
	border-top: 4px solid blue;
}

.email{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size: 16px;
	color: #03807d;
	margin-bottom: 8px;
}
.aboutBox{
	display: flex;
	justify-content: flex-start;
}
.aboutwriteup{
	padding: 30px 50px;
	display: flex;
	justify-content: flex-start;
}
.aboutwriteup .description p{
	font-family: 'CircularStd', Arial, sans-serif;
	font-weight: 400;
	padding-bottom: 15px;
	line-height: 160%;
	font-size: 18px;
}
.description{
	padding-right: 50px;
	width: 60%;
}
.profileImg{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding: 20px 20px 10px 20px;
}

.social-accounts li{
	display: table-cell;
	padding-right: 15px;
}

.social-accounts li a{
	display: inline-block;
    text-align: center;
}

.svg{
    display: block;
    width: 25px;
    border-radius: 0;
}

.social-accounts li a:hover{
  background: transparent !important;
  cursor: pointer;
}

.aboutpic {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 20px;
}

.overview{
	padding-left: 30px;
}
.overview ul{
	list-style: none;
}

.overview ul li{
	padding-bottom: 15px;
}

.overview h2{
	font-size: 40px;
}

.organization{
	font-size: 20px;
	padding-bottom: 3px;
}

.title, .dates{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size: 16px;
}


/* Favorites */

.currentFavoritesContainer{
	padding: 0 20px;
}
.currentFavorites h2{
	font-size: 40px;
}

.favoriteItems {
	padding-top: 3px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


/* AUDIO */

.audioplayer{
	background-color: #FAFAFA;
	width: 350px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.songInfo {
	display: flex;
	justify-content: flex-start;
	padding-top: 15px;
}

.album{
	background-image: url("images/song.jpg");
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media(max-width: 502px) {
	.audioplayer {
		width: 270px !important;
	}

	#timeline {
		width: 210px !important;
	}

	.album {
		display: none;
	}
}

.playbox{
	display: flex;
}

.songbox {
	display: flex;
}

#pButton{
    height:40px; 
    width: 40px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('../../images/play.png') ;}
.pause{background: url('../../images/pause.png') ;}

#timeline{
	width: 280px;
	height: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
  
}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}


.songName{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size:18px;
	font-weight: 700;
	padding-right: 10px;
	padding-left: 18px;
}

.artist{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size:18px;
	font-weight: 400;
}

#audioplayer{
	display: flex;
    justify-content: flex-start;
	align-items: center;
	padding-left: 7px;
}


/* END AUDIO */



ul{
	list-style: none;
}
.item p{
	margin-bottom: 5px;
}
.item ul li{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size: 16px;
}

/* Work */

.workContainer{
	margin:30px 60px 50px 60px;
}

.workItem{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 30px 20px;
	color: #333333;
	transition: all 0.2s ease-in-out;
}

.workItem:hover{
	background-color: #333333;
	cursor: pointer;
	color: white;
}

.workInfo{
	min-width: 450px;
}

.workInfo h2{
	font-family: 'CircularStd', Arial, sans-serif;
	font-weight: 700;
	font-size: 40px;
	/*color: #fe065e;*/
}

.workInfo h3{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size: 30px;
}


.workDescription p{
	font-size: 28px;
}

.line{
	width: 100%;
	height: 1px;
	background-color: black;
}

/* Projects */
.projectContainer{
	padding: 20px;
}

.projectInfo{
	display: flex;
	justify-content: space-between;
}

.projectDescription{
	width: 80%;
}


.info p{
	font-family: 'Sora', Arial, sans-serif;
	font-size: 18px;
	line-height: 28px;
	width: 60%;
}

.theFeatures{
	padding-top: 20px;
}

.features li{
	font-family: 'Sora', Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
}

.boldItalicRed{
	font-style: italic;
	font-size: 20px;
	color: #03807d;
}

.role ul li{
	font-family: 'Sora', Arial, sans-serif;
}

.role{
	padding-right: 50px;
	width: 40%;
}

.labels{
	font-family: 'CircularStd';
}

.projectSources{
	padding-top: 40px;
}

.projectImage a img{
	width: 70%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: 10px;
}

.projectImage {
	text-align: center; 
	padding-bottom: 40px;
}

.projectImage p{
	font-family: 'CircularStd', Arial, sans-serif;
	font-size: 18px;
	font-style: italic;
}

.textLink, .textLink:visited{
	color: #03807d;
}

/* Animate Projects coming in & out of view */

.anim-enter {
  opacity: 0;
}
 
.anim-enter.anim-enter-active {
  opacity: 1;
  transition: opacity 1s ease;
}

.anim-leave {
  opacity: 1;
}
 
.anim-leave.anim-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Landing Page */
.landingPageContainer{
  display: flex;
  flex-direction: row;
  height:70vh;
}
.landingText{
	margin: auto;
	display: flex;
	justify-content: center;
}
.landingText p{
	text-align: center;
	font-size: 34px;
	line-height: 45px;
	width: 70%;
	color: rgb(32, 32, 32);
}

















